/* XXX Global */

body {
  --colorBackgroundMain: rgba(144, 88, 235, 0.24);
  --colorBackgroundSecond: rgba(209, 209, 209, 0.178);
  --colorGreenMain: rgb(100, 175, 25);
  --colorYellowMain: rgb(247, 198, 39);
  --colorBlueMain: rgb(24, 165, 221);
  --colorRedMain: red;
  --colorGreyMain: grey;
  --colorGreySec: rgb(90, 90, 90);
  --colorErrorBackground: rgba(253, 8, 0, 0.205);

  --gridGap: 20px;
  --reservesWidth: calc((100vw - var(--gridGap) * 2 - 100vh) * 0.4);
  --plateauWidth: calc(100vh - var(--gridGap) * 2);

  overflow: hidden;
}

.greenMainBackground {
  background-color: var(--colorGreenMain);
}

.blueMainBackground {
  background-color: var(--colorBlueMain);
}

.yellowMainBackground {
  background-color: var(--colorYellowMain);
}

.redMainBackground {
  background-color: var(--colorRedMain);
}

.table::after,
.home::after,
.mobile::after {
  content: "";
  background: url("./media/bg.jpg");
  filter: blur(10px);
  position: absolute;
  top: -10vh;
  left: -10vh;
  width: 120vw;
  height: 120svh;
  z-index: -1;
  background-size: cover;
}


/* XXX Table */


.table {
  height: calc(100vh - (var(--gridGap) * 2));
  width: calc(100vw - (var(--gridGap) * 2));
  padding: var(--gridGap);
  display: grid;
  gap: var(--gridGap);
  grid-template-columns: 2fr calc(100vh - (var(--gridGap) * 2)) 3fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "a b c"
    "a b d";
}


/* Plateau */


.plateau {
  grid-area: b;
  background: url("./media/plateau.jpg");
  background-size: contain;
  border-radius: 20px;
}

.plateau img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

svg {
  position: absolute;
  top: var(--gridGap);
  left: calc(var(--gridGap)*2 + var(--reservesWidth));
  width: var(--plateauWidth);
  height: calc(100vh - (var(--gridGap) * 2));
}

.gridHover {
  fill: rgba(0, 0, 0, 0);
}

.gridHover:hover {
  fill: rgba(0, 0, 255, 0.154);
}

polyline {
  fill: none;
  stroke: lime;
  stroke-width: 2;
}

circle:hover {
  filter: brightness(.9);
  cursor: pointer;
}

.drawing {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 2s ease-in-out forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}


/* Menu */


.menuToggeler {
  width: 2vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.menuToggeler.closed {
  width: 100vw;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100vh - 30px);
  width: 23vw;
  background-color: var(--colorBackgroundSecond);
  color: white;
  border-radius: 0 10px 10px 0;
  box-shadow: rgba(0, 0, 0, 0.726) 5px 5px 15px;
  transition: transform 0.3s ease-in-out;
  padding: 15px;
  backdrop-filter: blur(10px);
}

.menu .errorBubble {
  position: absolute;
  right: 15px;
  padding: 5px;
  max-width: 353px;
  border-radius: 10px;
  background-color: transparent;
  opacity: 0;
  transition: background-color 0s, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.menu .errorBubble.active {
  transform: translateY(-35px);
  background-color: var(--colorErrorBackground);
  opacity: 1;
}

.menu.closed {
  transform: translateX(-101%);
}

.menu table {
  border-radius: 10px;
  width: 100%;
}

.menu table {
  border-collapse: collapse;
  text-align: center;
  background-color: var(--colorBackgroundSecond);
}

.menu tr {
  height: 30px;
}

.menu tr:nth-child(odd) {
  background-color: var(--colorBackgroundSecond);
}

.menu tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

.menu tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

.menu tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.menu tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.menu input {
  width: 90%;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
}


/* Reserves */


.reserves {
  grid-area: a;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reserves div {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: var(--colorBackgroundMain);
}


/* Orders */

.orders {
  grid-area: c;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-color: var(--colorBackgroundMain);
}


/* Logs */

.logContainer {
  grid-area: d;
  height: 100%;
  border-radius: 20px;
  background-color: var(--colorBackgroundMain);
  color: white;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background: var(--colorGreyMain);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--colorGreySec);
}

.log {
  padding: 10px;
}

.log:nth-child(even) {
  background-color: var(--colorBackgroundSecond);
}

.log.green {
  color: var(--colorGreenMain);
}

.log.blue {
  color: var(--colorBlueMain);
}

.log.yellow {
  color: var(--colorYellowMain);
}

.log.red {
  color: var(--colorRedMain);
}

.log.grey {
  color: var(--colorGreyMain);
  text-align: center;
  font-style: italic;
}


/* XXX Mobile */


.mobile {
  overflow: hidden;
  margin: 15px;
}

.mobile::after {
  transform: scale(1.2)
}

.playersContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
}

.playerItem {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 5px 15px 5px 10px;
  border-radius: 10px;
}

.picked {
  filter: grayscale(0.7);
}

.picked::after {
  content: "❌ Déjà pris";
  position: absolute;
  right: -100%;
}


/* XXX Home */



.home {
  padding: 30px;
  color: white;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr;
  justify-items: center;
  gap: 30px;
  height: 80svh;
  max-width: 1500px;
  margin: auto;
}

.home .title {
  grid-column: 1 / span 2;
  text-align: center;
}

.gamesContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.gameJoiner {
  width: 90%;
  height: fit-content;
  background-color: var(--colorBackgroundMain);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.gameJoiner .gameItem {
  align-self: end;
}

.cardsContainer {
  display: flex;
  gap: 15px;
  align-items: center;
}

.playerCard{
  color: black;
  padding: 10px;
  border-radius: 10px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80px;
  animation: slideIn 0.5s ease-in-out;
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-33%);
  }
  100% {
    opacity: 1;
  }
}

.qrcode {
  border-radius: 15px;
  padding: 10px;
  background-color: white;
}

.gameItem {
  display: flex;
  justify-content: space-between;
  padding: 5px 30px 5px 30px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}
.gameItem:hover {
  cursor: pointer;
  filter: brightness(1.2);
}
.gameItem:nth-of-type(1n) {
  background-color: var(--colorYellowMain);
}
.gameItem:nth-of-type(2n) {
  background-color: var(--colorGreenMain);
}
.gameItem:nth-of-type(3n) {
  background-color: var(--colorBlueMain);
}
.gameItem:nth-of-type(1) {
  background-color: var(--colorBackgroundMain);
  color: white;
}