body {
  --colorBackgroundMain: rgba(144, 88, 235, 0.24);
  --colorBackgroundSecond: rgba(209, 209, 209, 0.178);
  --colorGreenMain: rgb(100, 175, 25);
  --colorYellowMain: rgb(247, 198, 39);
  --colorBlueMain: rgb(24, 165, 221);
  --colorRedMain: red;
  --colorGreyMain: grey;
  --colorGreySec: rgb(90, 90, 90);
  --colorErrorBackground: rgba(253, 8, 0, 0.205);

  --gridGap: 20px;
  --reservesWidth: calc((100vw - var(--gridGap) * 2 - 100vh) * 0.4);
  --plateauWidth: calc(100vh - var(--gridGap) * 2);

  overflow: hidden;
}

svg {
  position: absolute;
  top: var(--gridGap);
  left: var(--gridGap);
  width: calc(var(--reservesWidth) + 100vh - var(--gridGap));
  height: calc(100vh - (var(--gridGap) * 2));
}

polyline {
  fill: none;
  stroke: lime;
  stroke-width: 2;
  transform: translate(calc(var(--reservesWidth) + var(--gridGap)), 0);
}

.drawing {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 2s ease-in-out forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.table {
  height: calc(100vh - (var(--gridGap) * 2));
  width: calc(100vw - (var(--gridGap) * 2));
  padding: var(--gridGap);
  display: grid;
  gap: var(--gridGap);
  grid-template-columns: 2fr calc(100vh - (var(--gridGap) * 2)) 3fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "a b c"
    "a b d";
}

.table::after {
  content: "";
  background: url("./media/bg.jpg");
  filter: blur(10px);
  position: absolute;
  top: -10vh;
  left: -10vh;
  width: 120vw;
  height: 120vh;
  z-index: -1;
  background-size: cover;
}

.menuToggeler {
  width: 2vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.menuToggeler.closed {
  width: 100vw;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100vh - 30px);
  width: 23vw;
  background-color: var(--colorBackgroundSecond);
  color: white;
  border-radius: 0 10px 10px 0;
  box-shadow: rgba(0, 0, 0, 0.726) 5px 5px 15px;
  transition: transform 0.3s ease-in-out;
  padding: 15px;
  backdrop-filter: blur(10px);
}

.menu .errorBubble {
  position: absolute;
  right: 15px;
  padding: 5px;
  max-width: 353px;
  border-radius: 10px;
  background-color: transparent;
  opacity: 0;
  transition: background-color 0s, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.menu .errorBubble.active {
  transform: translateY(-35px);
  background-color: var(--colorErrorBackground);
  opacity: 1;
}

.menu.closed {
  transform: translateX(-101%);
}

.menu table {
  border-radius: 10px;
  width: 100%;
}

.menu table {
  border-collapse: collapse;
  text-align: center;
  background-color: var(--colorBackgroundSecond);
}

.menu tr {
  height: 30px;
}

.menu tr:nth-child(odd) {
  background-color: var(--colorBackgroundSecond);
}

.menu tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

.menu tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

.menu tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.menu tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.menu input {
  width: 90%;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
}

.menu .radio {
  border: none;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0 5px 0 5px;
}

.menu .radio input {
  display: none;
}

.menu .radio label {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 0.5px solid black;
  transition: 0.3s;
}

.menu .radio input:checked+label {
  box-shadow: inset black 1px 1px 4px;
}

.menu .radio label:nth-of-type(1) {
  background-color: var(--colorGreenMain);
}

.menu .radio label:nth-of-type(2) {
  background-color: var(--colorBlueMain);
}

.menu .radio label:nth-of-type(3) {
  background-color: var(--colorYellowMain);
}

.menu .radio label:nth-of-type(4) {
  background-color: var(--colorRedMain);
}

.plateau {
  grid-area: b;
  background: url("./media/plateau.jpg");
  background-size: contain;
  border-radius: 20px;
}

.plateau img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.reserves {
  grid-area: a;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reserves div {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: var(--colorBackgroundMain);
}

.orders {
  grid-area: c;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-color: var(--colorBackgroundMain);
}

.logContainer {
  grid-area: d;
  height: 100%;
  border-radius: 20px;
  background-color: var(--colorBackgroundMain);
  color: white;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: var(--colorGreyMain);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--colorGreySec);
}

.log {
  padding: 10px;
}

.log:nth-child(even) {
  background-color: var(--colorBackgroundSecond);
}

.log.green {
  color: var(--colorGreenMain);
}

.log.blue {
  color: var(--colorBlueMain);
}

.log.yellow {
  color: var(--colorYellowMain);
}

.log.red {
  color: var(--colorRedMain);
}

.log.grey {
  color: var(--colorGreyMain);
  text-align: center;
  font-style: italic;
}